/* .box1{
    background-color: red;
    height: 200px;
    width: 200px;
}
.box2{
    background-color: yellow;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 50px;
    left: 50px;
}

.box3{
    background-color: blue;
    height: 200px;
    width: 200px;
}
.main{
    border: 2px solid black;
    position: relative;
} */

.main1{
    border: 2px solid black;
    background-color: red;
    height: 200px;
    width: 200px;
    overflow: scroll;
    margin: auto;
}
h1{
    margin: 0;
    position:sticky;
    top: 1px;
}